#!/bin/rc

unmount /srv/bme680 /mnt

kc=`{ps | grep bme680fs | awk '{print $2}' | wc -l | awk '{print $1}'}

while(test $kc -gt 0) {
    kpidlist=`{ps | grep bme680fs | awk '{print $2}'}
    kpid=`{echo $kpidlist | awk '{print $1}'}

    echo kill > /proc/$kpid/ctl

    kc=`{echo print $kc - 1 | bc}
}
